/* Стилі для обнулення відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
input,
label {
    margin: 0;
}

p {
    overflow-wrap: anywhere;
    margin: 0;
}

/* обнулення базових властивостей списків (ul) */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* обнулення базових властивостей у посилань */
a {
    text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Властивості для обнулення курсиву address */
address {
    font-style: normal;
}

input:focus,
textarea:focus {
    outline: none;
}

body {
    margin: 16px;
font-family: "Montserrat", sans-serif;
}
.main-list
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.index-html{
    display: flex;
align-items: center;
border: none;
    border-radius: 4%;
    width: 100px;
    height: 100px;
    background-color: rgb(181, 181, 181);
}
.clickable{
    width: 100%;
    height: 100%;
    display: flex;
padding: 5px;
        align-items: center;
        justify-content: center;}